.chatListStyle{
    background-color: #ffffff;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    height: 56px;
  


}

.chatListStyle :hover{
    background-color: #128c7e;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
 
  
    
}

.hoverstyle :hover{
    cursor: pointer;
}