.main-div{
   
   
   
    display: flex;
    flex-direction: column;
    align-items: end;
    
}



.chatSection{

    height: 80vh;
    background-color: #ece5dd;
    width: 100%;
    
}

.messageInputArea{

 width: 100%;
    
    
}

.sender{

    background-color: #ffffff;
    color: black;
    border-radius: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
 

}


.receiver{
    background-color: #D9FDD3;
    color: black;
    border-radius: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}